@import "variables";

main {
  @include flex-align();
  flex-flow: column;
  justify-content: center;
  flex-flow: column;
  flex: 1;

  .main_container {
    @include flex-align;
    flex-flow: column;
    justify-content: space-between;
    height: 70%;

    h1 {
      font-size: 2.4rem;
      text-align: center;
      @include phone {
        font-size: 1.4rem;
      }
    }

    .button__allcars {
      @include dark-button();
      padding: 0.5rem 1rem;
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $--clr-darker-lightgrey;
    display: grid;
    place-items: center;
    transition: all 1s linear;
    visibility: hidden;
    z-index: -10;

    .modal-container {
      background: $--clr-white;
      width: 90vw;
      height: 80vh;
      text-align: center;
      display: flex;
      position: relative;
      @include phone {
        flex-direction: column;
      }
      @include small-tablet {
        flex-direction: column;
      }
    }
  }

  /* OPEN/CLOSE MODAL */
  .open-modal {
    visibility: visible;
    z-index: 10;
  }

  .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: $--clr-darkgrey;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.wrapper__cars {
  display: flex;
  flex-flow: column;
  min-height: 100%;
  height: auto;

  .wrapper__car {
    display: flex;
    min-height: 100vh;
    min-width: 100%;
    max-width: 100%;
    background: linear-gradient(145deg, #ffffff, #dedbdb);
    z-index: 1;
    @include phone {
      flex-direction: column;
      justify-content: space-around;
      padding: 2rem;
    }
    @include small-tablet {
      flex-direction: column;
      justify-content: space-around;
      padding: 2rem;
    }

    .wrapper__image {
      width: 40%;
      min-height: 100%;
      @include flex-align;
      align-items: center;
      @include phone {
        justify-content: center;
        width: 100%;
        flex: 1;
      }
      @include small-tablet {
        justify-content: center;
        width: 100%;
        flex: 1;
      }

      img {
        max-width: 100%;
      }
    }

    .wrapper__description {
      width: 60%;
      @include flex-align();
      flex-flow: column;
      justify-content: space-evenly;
      text-align: center;
      padding: 12rem 12rem;
      @include phone {
        padding: 0;
        justify-content: space-around;
        width: 100%;
        flex: 1;
      }
      @include small-tablet {
        padding: 0;
        justify-content: space-around;
        width: 100%;
        flex: 1;
      }
      h2 {
        font-size: 2.6rem;
      }

      p {
        font-size: 0.85rem;
      }

      .button__car {
        @include dark-button();
      }
    }
  }
}
