@import "variables";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 400vh;
}

body:not(i) {
  font-family: $--font-primary-1;
  color: $--clr-black;
}

ul {
  list-style-type: none;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

img {
  display: block;
}

#container {
  height: 100vh;
  width: 100%;
  @include flex-align();
  justify-content: center;
  flex-flow: column;
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
}
